:root {
  --color-white: rgba(255, 255, 255, 0.9);
  --color-black: rgba(0, 0, 0, 0.7);
  --color-gold: #f3aa4e;
  --volume-width: 100%;
  --timeline-width: 0;
}

body {
  font-family: cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  height: 100vh;
}

.card {
  background-color: var(--color-white);
  width: 22rem;
  padding: 1rem;
  border-radius: 0.4rem;
  display: flex;
  box-shadow: 1px 1px 7px var(--color-black);
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s;
  align-items: center;
}

.card:hover {
  transform: translateY(-0.2rem);
}

.image-container {
  transform: translate(0%, -30%);
  overflow: hidden;
  padding: 3rem;
}

img {
  height: 100%;
  width: 100%;
  box-shadow: 1px 1px 7px var(--color-black);
  border-radius: 0.6rem;
}

.title {
  font-size: 1.3rem;
  text-align: center;
}

.song-name {
  font-weight: 700;
  font-size: 1.7rem;
}

.controls-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: -8rem;
  width: 100%;
  align-items: center;
}

.times {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.controls {
  width: 100%;
}

.timeline {
  width: 100%;
}

.timeline-line {
  background-color: var(--color-black);
  height: 0.4rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem;
}

.timeline-line::before {
  content: "";
  width: var(--timeline-width);
  transition: all 0.3s;
  height: 100%;
  background-color: var(--color-gold);
  position: absolute;
  top: 0;
  left: 0;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: center;
  gap: 0.4rem;
}

.btn:nth-child(2) {
  font-size: 1.8rem;
  width: 4rem;
  height: 4rem;
}

.btn {
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0 0.6rem;
  border: none;
  border-radius: 50%;
  width: 3rem;
  transition: all 0.3s;
  height: 3rem;
}

.btn:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

.volume {
  width: 30%;
  height: 0.35rem;
  border-radius: 0.2rem;
  background-color: var(--color-black);
  overflow: hidden;
  cursor: pointer;
  position: relative;
}

.volume-container {
  display: flex;
  margin-top: 0.8rem;
  align-items: center;
}

.volume::before {
  content: "";
  background-color: var(--color-gold);
  position: absolute;
  top: 0;
  left: 0;
  width: var(--volume-width);
  transition: all 0.3s;
  height: 100%;
}

@media (max-width: 367px) {
  .image-container {
    transform: translate(0, -10%);
    padding: 2rem;
  }
  .controls-container {
    gap: 1rem;
    margin-top: -3rem;
  }
}
